@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap');

.content-tableC {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
    position: unset;
}

.content-tableC thead tr {
    background: linear-gradient(135deg, #a9a9a9, #000080);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-tableC thead tr:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #a9a9a9, #000080);
}

.content-tableC th,
.content-tableC td {
    padding: 12px 15px;
}

.content-tableC tbody tr {
    border-bottom: 1px solid #000080;
}

.content-tableC tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-tableC tbody tr:last-of-type {
    border-bottom: 2px solid #a9a9a9;
}

.content-tableC tbody tr.active-row {
    font-weight: bold;
    color: #000080;
}